<!DOCTYPE html>
  <html lang="en">
    <head>
      
      <% include partials/head.ejs %>
      
    </head>
    <body>
      <div id="cont" class="container">
        <h1>Submit a file to view its filesize.</h1>
        <form method="post" enctype="multipart/form-data" action"/">
          <input id="choose" type="file" name="filename">
          <input type="submit" value="Submit">
        </form>
      
        <% include partials/scripts.ejs %>
        
   </div>
  </body>
</html>